
/* index page - start  */



.container{
    /* border: 2px solid red; */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F6F8F9;
    
    
   
}



/* Header - starts */

header{
    background-color: #F6F8F9;
    max-width: inherit;
    width: inherit;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    padding: 18px 20px 18px 20px;
    z-index: 1;
    
    
}


/* Header - logo / position / animation  */

.logo{
    display: flex;
    gap: 5px;
    
}


.newslogo{
    width: 20px;
    height: 20px;
    
    
    
}


.logotext{
    
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    
    
}






.w{
    animation-name: logotextanimation;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.o{
    animation-name: logotextanimation;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.r{
    animation-name: logotextanimation;
    animation-duration: 8s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.l{
    animation-name: logotextanimation;
    animation-duration: 8s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

.d{
    animation-name: logotextanimation;
    animation-duration: 8s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

@keyframes logotextanimation{
    0%{
        color: blue;

    }

    10%{
        color: purple;
    } 

    20%{
        color: pink;
    }

    30%{
        color: red;
    }

    40%{
        color: orange;
    }
    
    50% {
        color: yellow;
        
    }
    60%{
        color: yellowgreen;
    }
    70%{
        color: green;
    }
    80%{
        color: aquamarine;
    }
    90% {
        color: aqua;
    }
    100%{
        color: blue;
    }

}

/* Header - right side navigation / position / animation  */

.navigation{
    font-size: 0.688rem;
    display: flex;
    gap: 30px;
}

.pages{
    font-size: 0.688rem;
    font-family: 'Roboto Slab', serif;
    transition-duration: 2ms;
    transition-timing-function: linear;
}



.pages:hover{

    border-bottom: 2px solid pink;
    
}



.active{
    color: black;
    font-weight: bold;
}

/* Header - finish  */



/* Section 1 - start  */



.section1{
    margin: 56px auto 0px auto;
    width: 100%;
    display: flex;
    /* border: 2px solid red; */
}


/* Section 1  - left side / all  */


.section1L{
    width: 58%;
    height: 599px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Image/section1.png") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}



.leftsectiontext{
    width: 45%;
    

}

/* Section 1  - left side / titles texts */

.title1{
    padding-bottom: 40px;
    color: white;
    border-bottom:2px solid white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    
}


.article_1title{
    margin-top: 40px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
}


.article_1{

    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
    font-family: 'Abel', sans-serif;
    color: white;
}


/* Section 1 left side - button  */

.button1{
    margin-top: 30px;
    width: 25%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: #FA6980;
    font-size: 0.688rem;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


.button1:hover{

    transform: scale(1.1);
    background-color: plum;


}




/* Section 1 left side finish   */



/* Section 1 Right side / all  */

.section1R{
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Section 1 Right side / titles texts  */


.right_1title2{
    border-bottom:2px solid grey;
    width: 50%;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.title2{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}


.section1Rnews{
    
    width: 50%;
    display: flex;
    flex-direction: column;

}


.newstitle_2{
    color: #FA6980;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 20px;

}

.newstitle_3{
    margin-top: 40px;
    color: #FA6980;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 20px;

}



.articletitle_2_3{
font-size: 1rem;
font-family: 'Abel', sans-serif;
font-weight: bold;

    
}



.articletext1{
    color: #A6ADB4;
    padding: 10px 0px;
    font-size: 1rem;
    font-family: 'Abel', sans-serif;
}


/* Section 1 right side - icons  */

.time{
   font-size: 0.813rem; 
   color: #A6ADB4;
}


.time::before{
    content: "\f017";
    font-family: "Font Awesome 6 free";
    display: inline-block;
    width: 10px;
    margin-right: 10px;

    
}


/* Section 1   - finish  */



/* Section 2 - start  / all */


.section2{
    /* border: 2px solid red; */
    margin: 40px auto;
    width: 80%;
}


.title3{
    margin-bottom: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}



.section2_articles{
    /* border: 2px solid red;    */
    display: flex;
    gap: 40px;
}


.section2_figure{
    /* border: 2px solid red;     */
    background-color: white; 
    width: 33%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}


.figure1{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transform: scale(1);
    transition: ease-in-out;
    display: block;
    cursor: pointer;
    z-index: 0;


}


.figure1:hover{
    transform: scale(1.3);
    filter: grayscale(100%);
}



.caption_title1{
    margin: 40px 40px 10px 40px;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;

}


.caption_text{

    margin: auto 40px 66px 40px;
    font-size: 0.813rem;
    font-family: 'Abel', sans-serif;
    color: #A6ADB4;


}



/* Section 2 - finish  */




/* Section 3 - start / all */


.section3{
    margin: 40px auto;
    /* border: 2px solid red;   */
    width: 80%;
    display: flex;
    flex-direction: column;
}


.title4{

    margin-bottom: 40px;
    font-size: 1.5rem;
    font-weight: bold; 
    font-family: 'Roboto Slab', serif;


}

.section3_articles{
    display: flex;
    gap: 40px;
}


.section3_left{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.city{
    width: 100%;
    height: 430px;
    background: url("../Image/section3_city.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;


}



.travel{
    width: 100%;
    height: 430px;
    background: url("../Image/section3_forest.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

}



.city_travel_title{

    margin: 40px auto auto 40px;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;

}



.city_travel_article{
    width: 90%;
    margin: 232px auto auto 40px;
    color: white;
}


.city_travel_article_title{
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 10px;
    font-weight: bold;
}

.city_travel_text{
    font-size: 1rem;
    font-family: 'Abel', sans-serif;
}





.section3_right{
    /* border: 2px solid red; */
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 29px;
    

}


.top{
    width: 100%;
    height: 31%;
    
}

.elephant{
    height: 80%;
    background: url("../Image/section3_elephant.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    
}


.mid{
    width: 100%;
    height: 31%;
   
}

.parrot{
    height: 80%;
    background: url("../Image/section3_parrot.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    border-radius: 5px;
}



.bottom{
    width: 100%;
    height: 31%;
    
}


.road{
    height: 80%;
    background: url("../Image/section3_road.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    border-radius: 5px;
}


.section3_right_title{
    padding-top: 48px;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}




footer{
    width: 100%;
    background-color: #A6ADB4;
    padding: 55px 175px 61px 145px;
    display: flex;
    justify-content: space-between;
}


.footer_info{
    width: 40%;
    display: flex;
    gap: 50px;
}


.info{
   
    width: 25%;
    color: white;

}

.info_text{
    display: flex;
    flex-direction: column;
    gap:5px;
    font-size: 0.813rem;
    font-weight: bold;
    color: #CBD0D3;
}

.social_links{
    width: 12%;
    height: 5%;
    display: flex;
    gap: 32px;

}









/* resolutions */










/* Index page - finish */









/* WN page - start  */


.container{
    /* border: 2px solid red; */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F6F8F9;
   
    
   
}


.wncontainer{
    padding-top: 153px;
}



/* Header - starts */

header{
    background-color: #F6F8F9;
    max-width: inherit;
    width: inherit;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    padding: 18px 20px 18px 20px;
    z-index: 1;
    
    
}


/* Header - logo / position / animation  */

.logo{
    display: flex;
    gap: 5px;
    
}


.newslogo{
    width: 20px;
    height: 20px;
    
    
    
}


.logotext{
    
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    
    
}






.w{
    animation-name: logotextanimation;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.o{
    animation-name: logotextanimation;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.r{
    animation-name: logotextanimation;
    animation-duration: 8s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.l{
    animation-name: logotextanimation;
    animation-duration: 8s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

.d{
    animation-name: logotextanimation;
    animation-duration: 8s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

@keyframes logotextanimation{
    0%{
        color: blue;

    }

    10%{
        color: purple;
    } 

    20%{
        color: pink;
    }

    30%{
        color: red;
    }

    40%{
        color: orange;
    }
    
    50% {
        color: yellow;
        
    }
    60%{
        color: yellowgreen;
    }
    70%{
        color: green;
    }
    80%{
        color: aquamarine;
    }
    90% {
        color: aqua;
    }
    100%{
        color: blue;
    }

}

/* Header - right side navigation / position / animation  */

.navigation{
    font-size: 0.688rem;
    display: flex;
    gap: 30px;
}

.pages{
    font-size: 0.688rem;
    font-family: 'Roboto Slab', serif;
    transition-duration: 2ms;
    transition-timing-function: linear;
}



.pages:hover{

    border-bottom: 2px solid pink;
    
}



.active{
    color: black;
    font-weight: bold;
}


/* Header - finish */



/* Section 1 WN - start  */




.WN_section1{
    /* border:2px solid red ; */
    background-color: #F6F8F9;
    margin: 0px auto 40px auto;
    width: 80%;
    display: flex;
    

}


.WN_section1_left{
    
    width: 50%;
    height: 500px;
    background-image: url("../Image/WN\ section1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.WN_section1_lefttitle{
    color: white;
    font-size: 1.875rem;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}




.WN_section1_right{
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.inputbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}


.typebox{
    height: 40px;
    border-radius: 6px;
    border: 3px solid #EBEDED;
    outline: none;
}


form{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.search{
    width: 35%;
    background-color: #FA6980;
    border: none;
    font-size: 0.688rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: white;
    padding: 16px 30px;
    border-radius: 6px;
    cursor: pointer;

}


.WN_section2{
    border-bottom: 3px solid #EBEDED;
    border-top: 3px solid #EBEDED ;
    width: 80%;
    margin: auto;
    display: flex;
    gap: 5px;

}


.avatar_title{
    /* border: 2px solid red; */
    width: 33%;
    margin: 40px 40px 92px 0px;
}


.WN_section2_title{
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.atarar_text1{
    /* border: 2px solid red; */
    width: 33%;
    padding-top: 40px;
    font-size: 0.875rem;
    font-family: 'Abel', sans-serif;
    color: #A6ADB4;
    line-height: 1.5;

}

.WN_section3{
    /* border: 2px solid red; */
    margin: 40px auto;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;


}




.bigelephant{
    width: 100%;
    height: 500px;
    border-radius: 6px;
    background-image: url("../Image/section3_elephant.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.bigelephant_caption{
    margin: 80px auto 80px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.bigelephant_caption_text{
    
    font-size: 0.875rem;
    font-family: 'Abel', sans-serif;
    color: #A6ADB4;
    line-height: 2;
}